#!/bin/sh

echo 'ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c539", RUN+="{{.chezmoi.homeDir}}/scripts/switch-display-input.sh x0f"' | sudo tee /etc/udev/rules.d/51-logitech-mouse-connect.rules
